* {
  box-sizing: border-box;
  font-family: serif;
}
body {
  margin: 0;
}
.main {
  height: 100vh;
  background-color: rgb(105, 105, 105);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  padding: 5px;
  box-shadow: 0px 0px 5px 0px;
}

.display {
  background-color: rgb(255, 255, 255);
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 6px;
  word-wrap: wrap;
  word-break: break-all;
  text-align: right;
}

.display > div {
  text-shadow: 0.5px 2px #000;
}

.last {
  padding-bottom: 15px;
  font-size: 22px;
  color: rgb(163, 163, 163);
}

.current {
  color: rgb(230, 230, 230);
  font-size: 34px;
  padding-bottom: 5px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 75px);
  grid-template-rows: minmax(100px, auto) repeat(5, 75px);
  gap: 5px;
  justify-content: center;
}

button {
  font-size: 24px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: rgb(230, 230, 230);
  text-shadow: 0.5px 2px #000;
  cursor: pointer;
}

.buttons {
  width: 100%;
}

.flex-one {
  grid-column: span 4;
  display: flex;
  justify-content: space-between;
}

.flex-one > button:nth-child(3) {
  width: 75px;
}

.flex-one > button:nth-child(1),
button:nth-child(2) {
  width: 115px;
}

.flex-two {
  display: flex;
  grid-column: span 4;
  justify-content: space-between;
}

.flex-two > button:nth-child(1) {
  width: 155px;
}

.flex-two > button:nth-child(2),
.flex-two > button:nth-child(3) {
  width: 75px;
}

#color1 {
  background-color: rgb(206, 43, 43);
}

#color2 {
  background-color: brown;
}

#color3 {
  background-color: rgb(115, 43, 43);
}

button:hover {
  border: 1px solid white;
}
